.first-tab-container {
  padding-bottom: 150px;
  .name-input {
    width: 100%;
    min-width: 200px;
    max-width: 1200px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 3px;
    border: solid 1px #707070;
  }
  .sub-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 0px;
    letter-spacing: 0px;
    color: #707070;
  }
  .type {
    margin-top: 50px;
  }
  .type-select {
    min-width: 200px;
    max-width: 1200px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 3px;
    border: solid 1px #707070;
  }
  .description {
    margin-top: 50px;
  }
  .description-textarea {
    min-width: 200px;
    max-width: 1200px;
    width: 100%;
  }
  .btn-row {
    position: absolute;
    bottom: 0px;
  }
  .btn {
    width: 108px;
    height: 32px;
    box-shadow: 0px 0px 8px 0px rgba(0, 120, 212, 0.16);
    border-radius: 5px;
    position: absolute;
    bottom: 0px;
  }
  .steps-container {
    width: 100%;
    min-width: 800px;
    max-width: 1500px;
    position: absolute;
    bottom: 0;
    .prev-btn {
      width: 100px;
    }
    .next-btn {
      width: 100px;
    }
    .steps {
      width: 600px;
    }
  }
}
