.first-tab-container {
  padding-bottom: 150px;
  .type {
    margin-top: 50px;
  }
  .description {
    margin-top: 50px;
  }
  .btn-row {
    position: absolute;
    bottom: 0px;
  }
  .btn {
    width: 108px;
    height: 32px;
    box-shadow: 0px 0px 8px 0px rgba(0, 120, 212, 0.16);
    border-radius: 5px;
    position: absolute;
    bottom: 0px;
  }
  .steps-container {
    width: 100%;
    min-width: 800px;
    max-width: 1500px;
    position: absolute;
    bottom: 0;
    .prev-btn {
      width: 100px;
    }
    .next-btn {
      width: 100px;
    }
    .steps {
      width: 600px;
    }
  }
}
