.info-card-container {
  .wrapper {
    min-height: 200px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 32px;
    padding: 16px 32px 32px 32px;
  }
  .title {
    font-size: 32px;
    color: #0078d4;
  }
  .row {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;

  }
  .left {
    text-align: left;
    margin-left: 10px;
  }
  .row-container {
    margin-top: 40px;
  }
  .key {
    margin-left: 8px;
  }
  .value {
    margin-right: 20px;
    font-weight: bold;
  }
}
