.jobList-container{
  max-width: 1500px;
  .title {
    width: 253px;
    height: 80px;
    max-height: 100px;
    font-size: 48px;
    line-height: 36px;
    color: #0078d4;
    font-weight: bold;
  }
  .func-wrapper {
    margin-top: 40px;
  }
  .filter-text {
    font-size: 14px;
    margin-left: 20px;
  }

  .stop-btn {
    width: 122px;
  }

  .restart-btn {
    width: 122px;
  }

  .delete-btn {
    width: 122px;
  }

  .btn {
    box-shadow: 0px 0px 8px 0px rgba(0, 120, 212, 0.16);
    border-radius: 5px;
    margin-right: 20px;
  }

  .table-wrapper {
    max-width: 1500px;

  }

}