.landing-container {
  .bg {
    width: 100%;
    height: 700px;
    background: url("../assets/LandingPage.jpg") no-repeat center;
    background-size: cover
  }

  .bg-title {
    position: absolute;
    top: 133px;
    left: 174px;
    font-size: 70px;
    font-weight: 700;
    color: #ffffff;
    z-index: 100;
  }

  .bg-description {
    position: absolute;
    width: 40vw;
    top: 280px;
    left: 174px;
    font-size: 18px;
    color: #ffffff;
    z-index: 100;
  }

  .login {
    margin-top: 50px;
    //float: right;
    //margin-left: -100px;
    width: 200px;
    //height: 103px;
    z-index: 100;
    cursor: pointer;
  }

  .title {
    font-size: 48px;
    color: #707070;
  }

  .right {
    text-align: right;
  }

  .left {
    text-align: left;
  }

  .description {
    color: #707070;
    font-size: 24px;
  }

  .img {
    width: 648px;
    height: 478px;

  }

  .margin-right {
    margin-right: 132px;
  }
}
